<% provide(:title, "Signup") %>
<div class="row">
	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
		<div class="content-div">
			<h2>Sign up</h2>
			<%= form_for(@user, url: signup_path) do |f| %>
				
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
				
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
				
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, class: 'form-control' %>
				<br>
				<%= f.submit 'Create', class: 'btn btn-primary center-block' %>
			<% end %>
		</div>
	</div>
</div>