<% provide(:title, "All events") %>
<div class="row">
	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="btn-group btn-group-justified">
			<%= link_to "Upcoming events", events_path(upcoming: true) %>
			<%= link_to "Past events", events_path(past: true) %>
		</div>
		<% if @events.any? %>
			<% @events.each do |event| %>
				<div class="result text-center content-div">
					<ul>
						<li><button class="btn btn-primary center-block"><%= link_to event.name, event %></button></li>
						<hr>
						<li>Description: <%= event.description %></li>
						<li>Location: <%= event.location %></li>
						<li>Date: <%= event.date.strftime("%d-%m-%Y") %></li>
						<li>Time: <%= event.time.strftime("%H:%M") %></li>
						<li>Hosted by: <%= event.host.name %></li>
					</ul>
				</div>
			<% end %>
		<% else %>
			<h3>There are no such events.</h3>
		<% end %>
	</div>
</div>