<% provide(:title, "All events") %>
<div class="row">
	<section class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
		<% if @events.any? %>
			<% @events.each do |event| %>
				<div>
					<ul>
						<li><h3><%= event.name %></h3></li>
						<li>Description: <%= event.description %></li>
						<li>Location: <%= event.location %></li>
						<li>Date: <%= event.date.strftime("%d-%m-%Y") %></li>
						<li>Time: <%= event.time.strftime("%H:%M") %></li>
						<li>Hosted by: <%= event.host.name %></li>
					</ul>
				</div>
			<% end %>
		<% end %>
	</section>
</div>