<% provide(:title, "All events") %>
<div class="row">
	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
		<div class="btn-group btn-group-justified">
			<%= link_to "Upcoming events", events_path(upcoming: true), class: 'btn btn-info btn-small' %>
			<%= link_to "Past events", events_path(past: true), class: 'btn btn-info btn-small' %>
		</div>
		<% if @events.any? %>
			<% @events.each do |event| %>
				<div class="result content-div">
					<ul class="text-center">
						<li><h2><%= link_to event.name, event %></h2></li>
						<hr>
						<li>Description: <%= event.description %></li>
						<li>Location: <%= event.location %></li>
						<li>Date: <%= event.date.strftime("%d-%m-%Y") %></li>
						<li>Time: <%= event.time.strftime("%H:%M") %></li>
						<li>Hosted by: <%= event.host.name %></li>
					</ul>
				</div>
			<% end %>
		<% else %>
			<div class="result content-div">
				<ul class="text-center">
					<li><h2 class="text-center">No events</h2></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>