<% provide(:title, @event.name) %>
<div class="row">
	<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
		<div class="result content-div">
			<ul class="text-center">
				<li><h2><%= @event.name %></h2></li>
				<hr>
				<li>Description: <%= @event.description %></li>
				<li>Location: <%= @event.location %></li>
				<li>Date: <%= @event.date.strftime("%d-%m-%Y") %></li>
				<li>Time: <%= @event.time.strftime("%H:%M") %></li>
			</ul>
				<% if @event.date < DateTime.now %>
					<p>This event has already taken place.</p>
				<% elsif @event.attendees.include?(current_user) %>
					<%= form_for(:invite, url: invite_path, html: { method: :delete }) do |f| %>
						<%= f.submit "Leave event", class: 'center-block btn btn-danger' %>
					<% end %>
				<% else %>
					<%= form_for(:invite, url: invites_path) do |f| %>
						<%= f.hidden_field :event_id, value: @event.id %>
						<%= f.submit 'Attend event', class: 'center-block btn btn-success' %>
					<% end %>
				<% end %>
		</div>
		<div class="result content-div">
			<ul class="text-center">
				<li><h2>Attendees</h2></li>
				<hr>
				<% if @attendees.any? %>
					<% @attendees.each do |attendee| %>
						<li><%= link_to attendee.name, attendee %></li>
					<% end %>
				<% else %>
					<li>No attendees</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>